body {
    margin: 0px;
}

.landing-admin {
    position: relative;
    background-color: #85296B;
    display: flex;
    left: -375px;
}

.imageadmin {
    position: relative;
    left: 132.5px;
    width: 100px;
    height: 100px;
}

.linkadmin {
    font-family: Avenir;
    font-style: normal;
    color: #FFFFFF;
}

.logout-button-admin {
    position: relative;
    top: -500px;
}