body {
    margin: 0px;
}

.imageadmin {
    position: relative;
    left: 132.5px;
    width: 100px;
    height: 100px;
}

.linkadmin {
    font-family: Avenir;
    font-style: normal;
    color: #85296B;
    margin-left: 16px;
}

.logout-button-admin {
    position: relative;
    top: -500px;
}