body {
    margin: 0;
}

.footer-home-item {
    width: 33.3333333%;
    height: 68px;
    background: #FFFFFF;
    padding-top: 4px;
}

.footer-item-text {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    
    color: #C4C4C4;
    text-decoration: none;
}

.active {
    color:#85296B;
}