body {
    margin: 0;
}

.bg-detail {
    height: 150px;
    width: 375px;
}

.bg-detail2 {
    position: absolute;
    height: 550px;
    width: 375px;
    top: 150px;
}

.bg-detailreward {
    position: absolute;
    width: 374px;
    height: 181px;
    left: 0px;
    top: -50px;
    
    background: #85296B;
    border-radius: 50%;
}

.title-detailreward {
    position: absolute;
    width: 238px;
    height: 38px;
    left: 69px;
    top: -10px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 38px;

    color: #FFFFFF;
}

.title-detailreward img {
    position: absolute;
    left: -45px;
    right: 20.83%;
    top: 14px;
    bottom: 25%;
    
    box-sizing: border-box;
    border-radius: 2px;    
}

.profildetail-bg {
    position: absolute;
    width: 335px;
    height: 70px;
    left: 20px;
    top: 50px;
    
    background: #FFFFFF;
    
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.imgdetail {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 36px;
    top: 84px;

    border-radius: 100%;
}

.txt1detail {
    position: absolute;
    width: 67px;
    height: 16px;
    left: 80px;
    top: 71px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    
    color: #9AA0A6;    
}

.namedetail {
    position: absolute;
    width: 83px;
    height: 22px;
    left: 80px;
    top: 82px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 850;
    font-size: 14px;
    line-height: 22px; 
    
    color: #2F2F2F;
}

.poindetail-img {
    position: absolute;
    width: 33px;
    height: 32px;
    left: 241px;
    top: 88px;
}

.txt2detail {
    position: absolute;
    width: 54px;
    height: 16px;
    left: 285px;
    top: 74px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    
    color: #9AA0A6;
}

.poindetail {
    position: absolute;
    width: 17px;
    height: 22px;
    left: 285px;
    top: 87px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 850;
    font-size: 14px;
    line-height: 22px;
    
    color: #2F2F2F;
}

.list-detailreward {
    position: relative;
    margin-top: -5px;
}

.listdetail-bg {
    height: 125px;
    width: 375px;
}

.img-listdetail {
    position: absolute;
    left: 6.25%;
    right: 6.25%;
    top: 18.27%;
    bottom: 18.27%;
    width: 32px;
    height: 32px;

    border-radius: 15%;
}

.type-listdetail {
    position: absolute;
    height: 16px;
    left: 16.25%;
    top: 8%;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    
    color: #7A7A7A;
}

.name-listdetail {
    position: absolute;
    width: 200px;
    height: 44px;
    left: 16.25%;
    top: 18%;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 850;
    font-size: 14px;
    line-height: 22px;
    
    color: #2F2F2F;
}

.poinreview-listdetail {
    position: absolute;
    width: 29px;
    height: 38px;
    left: 90%;
    top: 13%;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 38px;
    
    color: #7A7A7A;
}

.imgreview {
    position: absolute;
    left: 16.17%;
    right: 25%;
    top: 65.67%;
    bottom: 25%;

    width: 16.5px;
    height: 16px;
}

.txtreview {
    position: absolute;
    height: 16px;
    left: 23%;
    top: 55.67%;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    
    color: #85296B;
}

.poinvalid-listdetail {
    position: absolute;
    width: 29px;
    height: 38px;
    left: 90%;
    top: 13%;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 38px;
    
    color: #FFB800;
}

.imgvalid {
    position: absolute;
    left: 16.67%;
    right: 25%;
    top: 66.67%;
    bottom: 25%;

    width: 11.5px;
    height: 11px;
}

.txtvalid {
    position: absolute;
    height: 16px;
    left: 23%;
    top: 55.67%;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    
    color: #26D809;
}

.imginvalid {
    position: absolute;
    left: 16.67%;
    right: 25%;
    top: 66.67%;
    bottom: 25%;

    width: 13.5px;
    height: 13px;
}

.txtinvalid {
    position: absolute;
    height: 16px;
    left: 23%;
    top: 55.67%;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    
    color: #E62828;
}

.line-listdetail {
    position: absolute;
    width: 295px;
    left: 10%;
    top: 90%;
}