body {
    margin: 0;
}

.userexport-admin  {
    position: relative;
    left: 25px;
}

.tbl-admin {
    position: relative;
    margin-left: 400px;
    top: -400px;
}

.table-admin {
    width: 100%;
}

.table-admin, th, td {
    border: 1px solid black;
}