body {
    margin: 0;
}

.userexport-admin  {
    position: relative;
    left: 25px;
}

.list-admin {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    position: relative;
    top: -400px;
    width: 500px;
    margin-left: 400px;
}