body {
    margin: 0;
}

.userexport-admin  {
    position: relative;
    left: 25px;
}

.tbl-admin {
    position: relative;
    margin-left: 300px;
    top: -350px;
    margin-right: 64px;
}

.table-admin {
    width: 100%;
}

.table-admin, th, td {
    border: 1px solid black;
}

.next-prev {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    position: relative;
    margin-left: 300px;
    top: -350px;
    margin-right: 64px;
    cursor: pointer;
}

.search-admin {
    position: absolute;
    margin-left: 300px;
    margin-right: 64px;
    top: 75px;
}