body {
    margin: 0;
}

.bg-footer {
    position: relative;
    height: 244px;
}

.child {
    position: absolute;
    left: 0;
    top: 0;
}

.margin-top-footer {
    margin-top: 76px;
}

.icon {
    width: 62px;
    height: 62px;
}

.footer-white-text {
    font-family: Avenir;
    font-style: normal;
    font-weight: 850;
    font-size: 12px;
    line-height: 19px;

    color: #FFFFFF;
    text-decoration: none !important;
}

.footer-copyright {
    font-family: Avenir;
    font-style: normal;
    font-size: 12px;

    color: #FFFFFF;
    text-decoration: none !important;
}

.whitespace {
    background-color: white;
    width: 1px;
}