body {
    margin: 0;
}

.terimakasih {
    position: absolute;
    width: 188px;
    height: 47px;
    left: 94px;
    top: 103px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 47px;
    
    color: #295985;
}

.submission {
    position: absolute;
    left: 119px;
    top: 203px;
}

.txt-submission {
    position: absolute;
    width: 170px;
    height: 72px;
    left: 103px;
    top: 362px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    
    color: #295985;
}

.button-add-submission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    
    position: absolute;
    width: 120px;
    height: 20px;
    left: 91px;
    top: 482px;
    
    background: #85296B;
    
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.txt-add-submission {
    position: absolute;
    width: 94px;
    height: 24px;
    left: 128px;
    top: 503px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 850;
    font-size: 16px;
    line-height: 25px;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.txt-go-home {
    position: absolute;
    width: 133px;
    height: 22px;
    left: 121px;
    top: 638px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    
    text-decoration-line: underline;
    
    color: #295985;
}