body {
    margin: 0;
}

.back-password {
    position: absolute;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 20px;
    top: 16px;
}

.editpassword-text {
    position: absolute;
    width: 101px;
    height: 22px;
    left: 137px;
    top: 3px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 850;
    font-size: 14px;
    line-height: 22px;

    color: #2F2F2F;
}

.password-border {
    position: absolute;
    width: 335px;
    height: 52px;
    left: 20px;
    top: 110px;
    
    background: #ECECEC;
    
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.password-now {
    position: absolute;
    width: 167px;
    height: 22px;
    left: 36px;
    top: 132px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    
    color: #7A7A7A;
}

.form-password {
    position: absolute;
    width: 335px;
    height: 52px;
    left: 20px;
    top: 188px;
    
    background: #ECECEC;
    border: 1px solid #7A7A7A;
    box-sizing: border-box;
    
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding-left: 15px;
}

.form-password:hover {
    background: #FFFFFF;
    border: 1px solid #85296B;
    box-sizing: border-box;
}

.form-pwconfirm {
    position: absolute;
    width: 335px;
    height: 52px;
    left: 20px;
    top: 246px;
    
    background: #ECECEC;
    border: 1px solid #7A7A7A;
    box-sizing: border-box;

    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding-left: 15px;
}

.form-pwconfirm:hover {
    background: #FFFFFF;
    border: 1px solid #85296B;
    box-sizing: border-box;
}

button img {
    position: absolute;
    left: 335px;
    top: 18px;
    cursor: pointer;
}

.status-password {
    position: absolute;
    width: 192px;
    height: 14px;
    left: 27px;
    top: 297px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    
    color: #E62828;
}