body {
    margin: 0;
}

.background {
    position: absolute;
    width: 375px;
    height: 699px;
    left: 0px;
    top: 0px;
    background: #F2FAFF;
}

.logo {
    position: absolute;
    width: 94px;
    height: 105px;
    left: 140px;
    top: 24px;
}

.name {
    position: absolute;
    width: 320px;
    height: 40px;
    left: 27px;
    top: 161px;

    background: #FFFFFF;

    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.08);
    border-radius: 67px;
    padding-left: 15px;
}

.form input {
    position: absolute;
    width: 320px;
    height: 40px;
    left: 27px;

    background: #FFFFFF;

    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.08);
    border-radius: 154px;
    padding-left: 15px;
}

.email {
    top: 225px;
}

.number {
    top: 289px;
}
.password {
    top: 353px;
}

.pwconfirm {
    top: 417px;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 101px;

    position: absolute;
    width: 320px;
    height: 40px;
    left: 27px;
    top: 505px;

    background: #85296B;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 77px;
}

.submit-text {
    position: static;
    width: 48px;
    height: 23px;
    left: 136px;
    top: 8.5px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 850;
    font-size: 16px;
    line-height: 25px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.bottom-text {
    position: absolute;
    width: 315px;
    height: 19px;
    left: 30px;
    top: 593px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #2F2F2F;
}

.register-status {
    position: absolute;
    width: 192px;
    height: 14px;
    left: 27px;
    top: 457px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;

    color: #E62828;
}